@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  display: inline-block;
  margin: 0;
  padding: 8px 20px;
  border: 1px solid var(--color-black);
  border-radius: var(--radius-main);
  font-weight: var(--fw-500);
  font-size: 18px;
  line-height: 1.21;
  color: var(--color-black) !important;
  text-align: center;
  background-color: var(--color-white);
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &--reverse,
  &:hover {
    color: var(--color-white) !important;
    background-color: var(--color-black);
  }

  &--reverse {
    &:hover {
      background-color: var(--color-white);
      color: var(--color-black) !important;
    }
  }

  &--explore {
    padding: 19px 32px;
    line-height: 1;
  }




  &--arrow {
    position: relative;
    padding-right: 64px;

    &::before {
      @include cover-background();

      content: '';
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      background-image: var(--icon-arrow);
    }
  }

  &--absolute {
    position: absolute;
    inset: 0;
    padding: 0;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    &::before {
      @include cover-background();

      content: '';
      position: absolute;
      bottom: 24px;
      right: 24px;
      width: 48px;
      height: 48px;
      transform: scale(1);
      transition: transform 0.4s ease-in-out;

      background-image: var(--icon-absolute);
    }

    &:hover::before {
      transform: scale(1.2);
    }
  }
}

*[class].swiper {
  .swiper-button {
    width: 64px;
    height: 64px;
    background-color: var(--color-gray-700);
    border-radius: var(--radius-round);
    top: 50%;
    transform: translateY(-50%);

    &::after {
      @include contain-background();

      content: '';
      position: absolute;
      height: 20px;
      width: 26px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: var(--icon-swiper);
    }
  }

  .swiper-button-prev {
    &::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  .swiper-button-disabled {
  }

  .swiper-pagination {
  }

  .swiper-pagination-bullet {
  }
}