@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.cards {
  padding: 0 0 rem(112);

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
    gap: 0 24px;
  }

  &__item {
    padding: 32px 24px;
    background-color: var(--color-gray-200);
    border-radius: var(--radius-main);
  }

  &__title {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 1.2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
  }

  &__link,
  &__name {
    font-size: clamp(18px, 0.5rem + 1vi, 22px);
    line-height: 1.6;
    font-weight: var(--fw-700);
  }

  &--colored {
    .cards__item {
      background-color: var(--color-green-300);
      border-radius: var(--radius-large);
    }
  }

  &--even {
    padding: 0 0 rem(86);

    .cards__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      gap: 40px 24px;
    }
  }

  &--dark {
    padding: rem(80) 0;

    h2 {
      text-align: left;
      text-transform: initial;
    }

    .cards__item {
      background-color: var(--color-black);
    }

    .cards__title,
    .cards__text {
      font-size: 18px;
      color: var(--color-white);
    }

    .cards__title {
      line-height: 1;
    }

    .cards__text {
      line-height: 1.5;
    }
  }

  &--reviews {
    padding: rem(64) 0 rem(86);

    h2 {
      font-size: clamp(34px, 2rem + 1vi, 40px);
    }

    .cards__grid {
      gap: 0 40px;
    }

    .cards__title {
      font-size: 18px;
      line-height: 1;
    }

    .cards__text {
      font-size: 18px;
    }
  }

  &--career {
    padding: rem(86) 0;

    h2 {
      font-size: clamp(34px, 2rem + 1vi, 40px);
    }

    .cards__grid {
      gap: 48px;
    }

    .cards__item {
      *:first-child {
        margin-bottom: 20px;
      }
    }
  }

  @include media(tablet) {
    padding: rem(48) 0;

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    &__item {
      &:last-child {
        grid-column: 1 / span 2;
      }
    }
  }

  @include media(mobile-l) {
    &__grid {
      grid-template-columns: 1fr;
    }

    &__item {
      &:last-child {
        grid-column: auto;
      }
    }
  }
}