@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.features {
  padding: rem(112) 0 rem(96);

  &__title {
    text-align: left;
    font-size: clamp(34px, 2rem + 1vi, 40px);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: stretch;
    align-items: stretch;
    gap: 48px 0;
  }

  &__item {
    width: 100%;
    padding: 32px 24px;
    background-color: var(--color-green-450);
    border-radius: var(--radius-main);

    &--reliablility {
      grid-column: span 2;
      max-width: 713px;
      margin-right: 24px;

      h3::before {
        background-image: url("../images/icons/box-return-icon.svg");
      }
    }

    &--efficiency {
      grid-column: span 1;
      max-width: 479px;

      h3::before {
        background-image: url("../images/icons/map-icon.svg");
      }
    }

    &--customization {
      grid-column: span 1;
      max-width: 476px;
      margin-right: 24px;
      padding-bottom: 64px;

      h3::before {
        background-image: url("../images/icons/chat-icon.svg");
      }
    }

    &--expertise {
      grid-column: span 2;
      max-width: 716px;
      padding-bottom: 64px;

      h3::before {
        right: -8px;
        background-image: url("../images/icons/search-icon.svg");
      }
    }

    &--list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 24px;

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }
    }
  }

  &__year {
    font-size: 24px;
  }

  &__name {
    position: relative;
    width: fit-content;
    margin-bottom: 12px;
    padding-inline: 0 116px;
    padding-block: 37px;

    &::before {
      @include cover-background();

      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
      height: 100px;
    }
  }

  &__cat {
    margin-bottom: 24px;
    font-size: 18px;
  }

  &__desc {
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.04rem;
  }

  &--rows {
    padding: 0 0 rem(127);
  }

  &--fleet {
    padding: rem(100) 0;

    .features__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 48px 24px;

      ul {
        padding-left: 24px;
      }

      ul li {
        list-style: disc;
      }
    }

    .features__text {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  &--careers {
    padding: rem(100) 0;

    .features__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 44px 24px;
    }

    .features__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 12px;
      background-color: var(--color-green-400);
      justify-items: center;
    }

    .features__name {

    }
  }

  @include media(desktop) {
    &__grid {
      gap: 48px 24px;
    }
  }

  @include media(tablet) {
    padding: rem(48) 0;

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    &__item {
      grid-column: auto;
      max-width: 100%;
      margin-right: 0;
      padding: 24px;
    }
  }

  @include media(mobile-l) {
    &__title {
     font-size: 34px;
    }
    &__grid {
      grid-template-columns: 1fr;
      gap: 24px 0;
    }

    &__item {
      &--expertise::before {
        right: 0;
      }
    }

    &__name {
      padding-inline: 0 80px;
      padding-block: 24px;

      &::before {
        width: 70px;
        height: 70px;
      }
    }
  }

  @include media(mobile-s) {
    &__name {
      padding-block: 80px 0;
      padding-inline: 0;

      &::before {
        left: 0;
        right: unset;
        top: 0;
        transform: translateY(0);
      }
    }

    &__item {
      &--list {
        grid-template-columns: 1fr;
      }
    }
  }
}