@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;
  padding: 0;

  &__inner {
    @include cover-background();

    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 700px;
    padding-top: rem(120);
  }

  &__content {
    z-index: 1;
    margin-inline: rem(112) 0;
    max-width: 720px;
    width: 100%;
  }

  h1 {
    width: 90%;
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 32px;

    p:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &--about {
    .desc {
      width: 75%;
    }
  }

  &--fleet {
    .desc {
      width: 80%;
    }
  }

  &--career {
    h1,
    .desc {
      width: 75%;
    }

    .desc {
      line-height: 1.2;
    }
  }

  @include media(tablet) {
    &__inner {
      min-height: 350px;
      padding: rem(100) 0;
    }

    &__content {
      margin: 0;
      padding: 0 15px;
    }

    h1,
    .desc {
      width: 100%;
    }
  }

  @include media(mobile-m) {
    &__inner {
      padding: rem(60) 0;
    }
  }

}