@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

h1,
h2,
h3 {
  overflow: hidden;
  font-family: var(--font-family-primary);
  font-weight: var(--fw-600);
  text-transform: capitalize;
}

h1,
h2 {
  line-height: 1.21;
}

h2,
h3,
.title {
  color: var(--color-black);
}

h1 {
  margin-bottom: rem(24);
  font-size: clamp(44px, 2rem + 1vi, 54px);
  color: var(--color-green-400);

  span {
    color: var(--color-white);
  }
}

h2 {
  margin-bottom: rem(48);
  font-size: clamp(34px, 2rem + 1vi, 44px);

  @include media(mobile-l) {
    margin-bottom: rem(24);
  }
}

h3 {
  font-size: 26px;
  line-height: 1;
}

.desc {
  color: var(--color-white);
}

a {
  font-size: 18px;
  font-weight: var(--fw-500);
  line-height: 1.21;
  color: var(--color-black);
}

p {
  font-size: clamp(18px, 0.5rem + 1vi, 22px);
  font-weight: var(--fw-400);
  line-height: 1.6;
  color: var(--color-gray-800);
}

input,
textarea {
  font-size: 16px;
  line-height: 1;
  font-weight: var(--fw-400);
  color: var(--color-dark-800);

  ::placeholder {
    color: var(--color-gray-800);
  }
}

.copyright {
  font-size: clamp(14px, 0.5rem + 1vi, 16px);
  line-height: 1.21;
  font-weight: var(--fw-400);
  color: var(--color-white);
}